.wy-nav-content {
    background-image: url('../img/content-bg.png') !important;
    background-repeat: no-repeat;
    background-position: -300px 0;
}

.wy-side-nav-search {
    background-color: #027dba;
    background-image: url('../img/graph-bg.png');
}

.wy-nav-side {
    background-color: #292727;
    background-image: url('../img/graph-bg.png');
    background-position: 0 0;
}
